html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 18px;
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

header .logo-deaf {
  display: inline;
  position: relative;
  top: 10px;
  left: 10px;
}
header .logo-deaf .logo {
  width: 50px;
  height: 50px;
}
header .social-network {
  width: 160px;
  height: 40px;
  float: right;
  margin: 10px 10px;
  text-align: center;
}
header .social-network .link {
  text-decoration: none;
}
header .social-network .icon {
  width: 18%;
  height: 100%;
  color: #ffffff;
  padding-left: 5px;
}
header .social-network .icon:hover {
  color: #000000;
  transition: color 0.35s ease;
}

.perfil {
  transform: translate(39rem, 4rem);
  width: 27%;
  text-align: center;
}
.perfil .title {
  color: #000000;
  font-weight: 700;
  font-size: 32px;
  margin: 10px;
}
.perfil article {
  color: #ffffff;
  font-weight: 400;
}
.perfil article span {
  display: inline-block;
  font-size: 20px;
  padding: 2px;
}
.perfil article .front {
  display: inline;
  color: #ffffff;
  font-weight: 700;
  opacity: 1;
}
.perfil article .front:hover {
  color: #000000;
  transition: color 0.25s ease;
}
.perfil article .techsign {
  color: #ffffff;
  font-weight: 700;
  opacity: 1;
}
.perfil article .techsign:hover {
  color: #000000;
  transition: color 0.25s ease;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
}
.skills h2 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.skills .div {
  display: flex;
  justify-content: center;
  padding: 4px;
}
.skills .languages {
  margin-bottom: 10px;
}
.skills .logo {
  width: 60px;
  height: 60px;
  padding: 5px 10px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer .hr {
  padding: 15px 0;
  display: flex;
  justify-content: left;
}
footer span {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 10px;
}
footer span:hover {
  color: #40bfc1;
  transition: color 0.25s ease;
}

@media screen and (max-width: 768px) {
  body {
    height: 123vh;
  }

  .perfil {
    transform: translate(70px, 80px);
    width: 75%;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .skills .languages {
    display: flex;
    flex-wrap: wrap;
  }
  .skills h2 {
    margin-top: 2rem;
  }

  footer {
    width: 100%;
    position: relative;
    top: 9rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .perfil {
    transform: translate(310px, 80px);
    width: 40%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1407px) {
  body {
    height: 100vh;
  }

  .perfil {
    transform: translate(410px, 40px);
    width: 40%;
  }

  .skills {
    margin-top: 5rem;
  }
}

/*# sourceMappingURL=index.css.map */
