$color-black: #000000;
$color-white: #ffffff;

$color-blue-light: #40bfc1;

$font-family: "Ubuntu", Arial, sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 18px;
}

body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

header {
  .logo-deaf {
    display: inline;
    position: relative;
    top: 10px;
    left: 10px;
    .logo {
      width: 50px;
      height: 50px;
    }
  }
  .social-network {
    width: 160px;
    height: 40px;
    float: right;
    margin: 10px 10px;
    text-align: center;
    .link {
      text-decoration: none;
    }
    .icon {
      width: 18%;
      height: 100%;
      color: $color-white;
      padding-left: 5px;
    }
    .icon:hover {
      color: $color-black;
      transition: color 0.35s ease;
    }
  }
}

.perfil {
  transform: translate(29rem, 2rem);
  width: 27%;
  text-align: center;
  .title {
    color: $color-black;
    font-weight: 700;
    font-size: 32px;
    margin: 10px;
  }
  article {
    color: $color-white;
    font-weight: 400;
    span {
      display: inline-block;
      font-size: 20px;
      padding: 2px;
    }
    .front {
      display: inline;
      color: $color-white;
      font-weight: 700;
      opacity: 1;
    }
    .front:hover {
      color: $color-black;
      transition: color 0.25s ease;
    }
    .techsign {
      color: $color-white;
      font-weight: 700;
      opacity: 1;
    }
    .techsign:hover {
      color: $color-black;
      transition: color 0.25s ease;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 14%;
  h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .div {
    display: flex;
    justify-content: center;
    padding: 4px;
  }
  .languages {
    margin-bottom: 10px;
  }
  .logo {
    width: 60px;
    height: 60px;
    padding: 5px 10px;
  }
}

footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  .hr {
    padding: 15px 0;
    display: flex;
    justify-content: left;
  }
  span {
    color: $color-black;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: 10px;
    left: 10px;
  }
  span:hover {
    color: $color-blue-light;
    transition: color 0.25s ease;
  }
}

@media (max-width: 576px) { 
  body{
    height: 152vh;
  }


}

@media screen and (min-width: 567px) and (max-width: 768px) {
  body {
    height: 152vh;
    width: 100%;
  }

  .social-network {
    .link {
      position: relative;
      left: 5px;
    }
  }

  .perfil {
    width: 100%;
    transform: translate(0, 4rem);
    .title {
      width: 120%;
      position: relative;
      right: 55px;
      font-size: 28px;
    }
  }

  .skills {
    width: 100%;
    h2 {
      width: 100%;
      position: relative;
      left: 0;
      text-align: center;
      margin-top: 2rem;
    }
    .languages {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      .logo {
        width: 60px;
        height: 60px;
        padding: 10px 10px;
      }
    }
  }

  footer {
    position: relative;
    top: 244px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    height: 111vh;
  }

  .perfil {
    transform: translate(20rem, 2rem);
    .title {
      width: 120%;
      position: relative;
      right: 55px;
      font-size: 28px;
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
}
